rpi_flow.txt
[{"id":"b8007ad7.1bc608","type":"wiotp in","z":"3c0c7bcb.a13f54","authType":"g","deviceKey":"","deviceType":"senseHat","deviceId":"","command":"+","commandType":"d","name":"","x":88,"y":363.50006103515625,"wires":[["bd6c265d.9e4dd8","d5e0179a.303f68","73f878f1.c783c8"]]},{"id":"7e37f18.7f5ab1","type":"rpi-sensehat out","z":"3c0c7bcb.a13f54","name":"","x":589,"y":545.0000610351562,"wires":[]},{"id":"13ac5288.77286d","type":"wiotp out","z":"3c0c7bcb.a13f54","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"","deviceType":"senseHat","deviceId":"","event":"event","format":"json","name":"","x":513,"y":238.75006103515625,"wires":[]},{"id":"bd6c265d.9e4dd8","type":"debug","z":"3c0c7bcb.a13f54","name":"","active":true,"console":"false","complete":"true","x":366,"y":362.25006103515625,"wires":[]},{"id":"f0fbce69.4505","type":"inject","z":"3c0c7bcb.a13f54","name":"Request Observation","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":144,"y":238.25006103515625,"wires":[["7569a57a.9142cc"]]},{"id":"7569a57a.9142cc","type":"function","z":"3c0c7bcb.a13f54","name":"Set Location","func":"//IBM Netherlands HQ\nmsg.payload = \"52.3408691,4.826819\";\n\nreturn msg;","outputs":1,"noerr":0,"x":361,"y":238.25006103515625,"wires":[["13ac5288.77286d"]]},{"id":"d5e0179a.303f68","type":"function","z":"3c0c7bcb.a13f54","name":"Extract Data","func":"//Extract data and compose message\nvar messageText = msg.payload.obs_name + \" \";\nmessageText = messageText + msg.payload.wx_phrase + \" \";\nmessageText = messageText + msg.payload.temp + \"c \";\nmessageText = messageText + \"Feels like \" + msg.payload.feels_like + \"c \";\nmessageText = messageText + \"Wind \" + msg.payload.wspd + \"km/h \" + msg.payload.wdir_cardinal;\n\n//Save message\nflow.set('lastMessage',messageText);\n\n// Save time last request\nflow.set('lastRequestTime',new Date().getTime());\n\nmsg.payload = messageText;\nmsg.color = \"Lime\";\nreturn msg;","outputs":1,"noerr":0,"x":315,"y":498.25006103515625,"wires":[["cc976b2d.3985a8","7e37f18.7f5ab1"]]},{"id":"cc976b2d.3985a8","type":"debug","z":"3c0c7bcb.a13f54","name":"","active":true,"console":"false","complete":"false","x":588,"y":498.25006103515625,"wires":[]},{"id":"73f878f1.c783c8","type":"file","z":"3c0c7bcb.a13f54","name":"Write log","filename":"/home/pi/weather/readings.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","x":374,"y":396.25006103515625,"wires":[]},{"id":"eba9ef78.a2f79","type":"inject","z":"3c0c7bcb.a13f54","name":"Replay","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":91,"y":586.2500610351562,"wires":[["5fd9be4a.eb981"]]},{"id":"5fd9be4a.eb981","type":"function","z":"3c0c7bcb.a13f54","name":"Replay last message","func":"msg.payload = flow.get('lastMessage',msg.payload);\nmsg.color = \"Green\";\nreturn msg;","outputs":1,"noerr":0,"x":348,"y":585.2500610351562,"wires":[["7e37f18.7f5ab1"]]},{"id":"4ee44ccb.f59a34","type":"rpi-sensehat in","z":"3c0c7bcb.a13f54","name":"","motion":false,"env":false,"stick":true,"x":78,"y":58.25006103515625,"wires":[["79312da9.957474","bcf140e7.8e54f"]]},{"id":"79312da9.957474","type":"debug","z":"3c0c7bcb.a13f54","name":"","active":false,"console":"false","complete":"false","x":197,"y":121.25006103515625,"wires":[]},{"id":"bcf140e7.8e54f","type":"switch","z":"3c0c7bcb.a13f54","name":"state","property":"payload.state","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","outputs":2,"x":221,"y":58.25006103515625,"wires":[[],["f950818d.42bab"]]},{"id":"f950818d.42bab","type":"switch","z":"3c0c7bcb.a13f54","name":"key","property":"payload.key","propertyType":"msg","rules":[{"t":"eq","v":"UP","vt":"str"},{"t":"eq","v":"RIGHT","vt":"str"},{"t":"eq","v":"DOWN","vt":"str"},{"t":"eq","v":"LEFT","vt":"str"},{"t":"eq","v":"ENTER","vt":"str"}],"checkall":"true","outputs":5,"x":348,"y":64.25006103515625,"wires":[["7569a57a.9142cc"],[],["a445725d.f1cd5"],[],[]]},{"id":"ebf94aa2.a804e8","type":"comment","z":"3c0c7bcb.a13f54","name":"Read Sense HAT Joystick","info":"","x":127,"y":26,"wires":[]},{"id":"8b5a6cb7.a075c","type":"comment","z":"3c0c7bcb.a13f54","name":"Request Current Weather to Server Application","info":"","x":196,"y":206,"wires":[]},{"id":"2a047813.7c6f88","type":"comment","z":"3c0c7bcb.a13f54","name":"Get Server Reply","info":"","x":98,"y":331,"wires":[]},{"id":"280642e.7ccc1be","type":"comment","z":"3c0c7bcb.a13f54","name":"Process Data and Output to Display","info":"","x":157,"y":464,"wires":[]},{"id":"a445725d.f1cd5","type":"function","z":"3c0c7bcb.a13f54","name":"New Request or Replay?","func":"//If last last observation was less than 10 min ago\n//replay the last message\n//otherwise send a new request\n\n//Get crrent date\nvar current = new Date().getTime();\n\n// Read the time of the last observation\nvar last = flow.get('lastRequestTime');\n\nif (current > (last + 600000)) {\n    //route the message to the node for the new request\n    return [ msg, null ];\n} else {\n    //route the message to the node for the replay of the last message\n    return [ null, msg ];\n}","outputs":"2","noerr":0,"x":580,"y":64,"wires":[["7569a57a.9142cc"],["5fd9be4a.eb981"]]}]